<ion-content>
  <ion-grid>
    <ion-col size="12" class="ion-padding-start ion-padding-end">
      <ion-text>
        <h4>Dadda</h4>
      </ion-text>
      <ion-text>
        <p>
          Vroooooom! Sunlight glittered brightly off the sea as the motorcycle zipped past the
          Yokohama city tram slowly making its way north. They were following the
          highway south around the edge of Negishi Bay.
          Kun was fastened securely by means of a leather belt to the man driving
          the bike. The engine—a twenty-four-horsepower 494-cc horizontally
          opposed air-cooled two-cylinder BMW—vibrated through him as he
          hunched over the fuel tank marked with a horse symbol. Wait a second, Kun
          thought, puzzled. I was riding that chestnut horse a minute ago… He
          blinked several times—which sparked the realization that he was now
          wearing goggles somehow—and peered up at the driver questioningly.
          The man was wearing the leather jacket that had been tied around his
          shoulders before, along with a pair of thick gloves. The strap of his summer
          pilot’s cap flapped in the wind.
          “Over there.”
        </p>

        <p>
          Behind his goggles, the man’s eyes flicked to the left, and Kun looked
        over.
        </p>

        <p>
          “That’s the aircraft company where I used to work.”
        </p>

        <p>
          As they sped up the hill into the Sugita neighborhood, Kun glimpsed
          through the trees the saw-shaped roof of a big factory built on reclaimed
          land. The fourteen-cylinder airplane engine he’d seen at the little workshop
          in the woods had probably been made at this factory, but there was no sign of
          life behind the dark, empty windows. To Kun, the building felt dead. The man
          shifted gears and sped past. Soon, the industrial corpse was far behind them.
          They passed a train on the Keikyu Line and continued south on National
          Highway 16.
        </p>

        <p>
          On the unpaved mountain road from Tomioka to Kanazawa-Hakkei, the
          bike tilted far to the side as the man smoothly rounded the sharp curves. He
          didn’t slow down, even on the hairpin turns. As soon as the bike was upright
          after one curve, it tilted the other direction on the next. Kun’s courage was
          being tested.
        </p>

        <p>
          They rounded another bend, and the mouth of the Funakoshi Tunnel came
          into view. The man accelerated toward it.
          “Still scared?” he asked Kun in the darkness.
          The boy’s face was stiff with anxiety, but he tried to sound as brave as he
          could. “…No.”
        </p>

        <p>
          “Can you see the horizon?”
          Kun opened his eyes a little. They were near the end of the tunnel.
          “…Yeah.”
        </p>

        <p>
          They flew into the brilliant light. Beyond the town of Tanoura on the other
          side of the tunnel was the port of Yokosuka. In the past, tall walls had lined
          the road running along the bay in order to hide the secret goings-on at the
          harbor. Now the walls had come down, and Kun could see dozens of massive
          hammerhead and jib cranes beyond the masts of the US Navy ships anchored
          there. He gaped at the spectacular sight.
        </p>

        <p>
          To the right, he saw the gantry crane at Berth 2 towering impressively
          over them. The scale of everything was so huge, he felt as if he had stumbled
          into a land of giants. They passed foreign military men strolling past the EM
          Club singing merrily together, as well as long lines of exhausted people
          hunched over carrying packages. On some corners, they saw children. They
          were thin and small but having a good time running and shouting.
        </p>

        <p>
          As the two kicked up a cloud of dust along the Mabori Coast, they passed
          a battered cab-before-engine truck piled high with machine parts. Kun
          realized he had seen hardly any other cars or trucks so far. Most of the
          vehicles were just cows and horses pulling loads. As they passed the rows of
          old-fashioned houses by the narrow, rocky beach at Hashirimizu and rounded
          Cape Kannonzaki, even the horse and cow carts became rare.
        </p>

        <p>
          Instead, Kun saw all sorts of ships on the sea. Every time, he pointed and
          shouted, “A boat!” He saw a trawling boat with its sails unfurled and the
          ninth transport ship heading out of Tokyo Bay, and from Kuri Bay, he spotted
          the silhouette of the Hosho aircraft carrier bound for Uraga with a load of
          returnees from overseas.
        </p>

        <p>
          “It doesn’t matter what you’re riding. Once you learn one, you can ride
          them all. A horse, a boat, an airplane…”
        </p>

        <p>
          They followed the contour of the peninsula from the Miura Coast on the
          east to the western coast. The ocean sparkled under the late afternoon sun as
          the motorcycle clattered over the country roads.
          Kun looked up at the man. “Daddy…”
        </p>

        <p>“What?”</p>

        <p>“This is cool.”</p>

        <p>
          The man kept his focus straight ahead. “You bet it is. I made this thing
          myself.”
        </p>

        <p>
          “No, I mean…” Kun was still staring.
        </p>

        <p>
          “…”
        </p>

        <p>
          He wanted to somehow let him know how he felt, to explain to him this
          unnamed emotion, similar to admiration. But all he could do was stare at
          him. The man noticed and gave him a brief smile. That was all. When he
          raised his head again, the sun glinted off his goggles, obscuring the
          expression in his eyes.
        </p>

        <p>
          The bike roared on and on past the marshes lining the coast.
          Over the growl of the motorcycle, Kun heard another engine. He looked
          up and saw an airplane. It was so far away, he couldn’t tell what kind it was,
          but to Kun, the distinctive sound seemed to be coming from an engine like the
          one he’d seen in the workshop, with two layers of seven cylinders.
          It was the next morning.
        </p>

        <p>
          Mom was in a huff because Dad had told her about a problem he was
          having just as she was leaving.
        </p>

        <p>
          “How could you forget to turn in such an important document?”
          Dad trailed after her. He was dressed in a T-shirt and shorts, like he’d
          just rolled out of bed. He had worked until late the previous night and woken
          up only a few minutes earlier.
        </p>

        <p>
          “Sorry.”
        </p>

        <p>
          “I asked you to take care of it.”
        </p>

        <p>
          “I said I was sorry,” he answered pitifully. Kun gazed at him.
        </p>

        <p>
          “…Daddy?”
        </p>

        <p>
          “What?”
        </p>

        <p>
          Kun’s eyes shone with admiration.
        </p>

        <p>
          “Good morning, please.”
        </p>

        <p>
          “What’s up, Kun? You’re being awfully polite today,” Dad replied,
          surprised.
        </p>

        <p>
          Kun put on his helmet and tightened the strap under his chin.
          “I wanna go to the park, please,” he said, trying to imitate the two boys in
          the barn.
        </p>

        <p>
          “Huh?”
        </p>

        <p>
          “I want to ride my bicycle, please.”
        </p>

        <p>
          “What?”
        </p>

        <p>
          “Please.”
        </p>

        <p>
          Once again, they were at the round plaza in Negishi Forest Park.
          “You sure you’ll be okay on your own?” Dad asked. He was watching
          Kun from one end of the bench and bouncing Mirai in the baby sling. Kun
          turned away, a determined look on his face.
        </p>

        <p>
          “Uh-huh.”
        </p>

        <p>
          He jauntily lifted up one leg to straddle the bike.
        </p>

        <p>
          “Oof.”
        </p>

        <p>
          His stubby limb caught on the seat.
        </p>

        <p>
          “Errgh…”
        </p>

        <p>
          The same four boys he’d seen riding their bikes the other day were
          watching him from a distance.
        </p>

        <p>
          “Oof…ergh…”
        </p>

        <p>
          He finally managed to get on, set his feet on the pedals, and pushed down
          hard. As soon as he did, the bike started wobbling, and after a few feet, it
          crashed.
        </p>

        <p>
          “Uh-oh,” blurted Dad.
        </p>

        <p>
          Kun picked up the heavy bike.
        </p>

        <p>
          “Look way out ahead… Look way out ahead…,” he whispered to himself,
          mimicking the young man with the motorcycle.
        </p>

        <p>
          He kept his head high and pushed down on the pedals. The bike lost
          balance, and he put both feet back on the ground. He tried pedaling again. He
          wobbled forward a little farther than the last time, then fell over.
          “Ooh… Keep trying, Kun!” Dad leaned forward instinctively, as if he
          wanted to run over to his son.
        </p>

        <p>
          Kun fell again and again. Soon, he was covered in mud. Every time, he
          pulled the bike back up and got on again, panting.
          “Way out ahead… Way out ahead…”
        </p>

        <p>
          The four boys held their breath as they watched him. They thought he
          might have gotten a little farther than the last time, but immediately after, he
          crashed to the ground. All of them flinched.
        </p>

        <p>
          “Ooh…,” Dad groaned, putting a hand to his head in sympathy. Only
          Mirai watched still as a statue from inside her sling.
        </p>

        <p>
          Kun was drenched in sweat and starting to get tired. He did his best to
          haul up the bike, but it was getting harder and harder each time. He gathered
          all his strength.
        </p>

        <p>
          “Way out ahead… Way out ahead…”
        </p>

        <p>
          Sweat pouring down his face, he caught sight of something. His eyes
          widened.
        </p>

        <p>
          It was the dilapidated, vine-covered grandstand.
          He leaned on the pedals, his eyes fixed on the old building.
        </p>

        <p>
          “Mmph… Rrgh…”
        </p>

        <p>
          He kept his gaze fixed as he shakily advanced.
        </p>

        <p>
          “Nngh…”
        </p>

        <p>
          He jerked back and forth, on the verge of tipping over, but somehow, he
          managed to stay upright.
          Dad shivered and tightened his hands into fists.
        </p>

        <p>
          “Go, Kun, go!”
        </p>

        <p>
          Kun kept looking ahead. The front wheel of the bike was still shimmying
          all over the place, but strangely, it didn’t fall.
          The vivid image before his eyes wasn’t the decrepit ruins; it was the
          First-Class Horse Viewing Stand he’d seen from the top of the windblown
          hill with the young man.
        </p>

        <p>
          “Ahh!”
        </p>

        <p>
          Another wobble, but he kept pedaling. He still hadn’t fallen.
          “Wow—great job!” Dad shouted, waving his fist in the air.
          The bike was still upright. Unsteady but upright. Kun advanced
          incrementally as long as his feet worked the pedals.
          In other words, Kun had learned to ride a bike.
        </p>

        <p>
          “You did it, Kun! You did it! Yeah!” Dad cheered, happily waving at him
          and jumping up and down beside the bench. He didn’t stop for a long time.
          Kun planted his feet on the ground and stopped. “Whew,” he panted.
          The other boys rode over to him and screeched to a halt.
          “You sure can ride now!”
        </p>

        <p>
          “It’s easy, right?”
        </p>

        <p>
          They smiled at Kun, who was still a little stunned.
        </p>

        <p>
          “Let’s play,” one of them suggested, rolling off before Kun could answer.
          He realized he could ride just like them now. A wonderfully pleasant
          feeling of accomplishment spread from his chest throughout his entire body.
          “C’mon!” the boys called. Kun smiled and pedaled forward confidently.
          “Coming!”
        </p>

        <p>
          “It was like I actually saw him move to the next stage of development,
        y’know?”
        </p>

        <p>
          Dad was still riding high as he related the afternoon’s events to Mom.
          “Wow, Kun! That’s amazing!” Mom ruffled his hair as she showered him
          with compliments.
        </p>

        <p>
          “Ha-ha-ha-ha-ha!” Kun laughed, flopping down on the floor and paging
          idly through the photo album with a tickled grin.
        </p>

        <p>
          “I bet you tried hard because your dad was there cheering you on,” Mom
          speculated, to Dad’s surprise. He looked at his son again.
          “Was that it?” he asked.
        </p>

        <p>
          “Uh-huh.”
        </p>

        <p>
          “…”
        </p>

        <p>
          As Dad watched him innocently flipping through the album, his chest
          suddenly became awash in a flood of competing emotions. When this image
          of Kun blended with his own childhood memories, he felt tears pricking at
          his eyes. He managed to hide them by blinking rapidly a few times.
        </p>

        <p>
          “…Kids are so amazing. All of a sudden, one day, they’re just able to do
          things without anyone teaching them how,” he said, sniffling and wiping away
          a stray drop with his finger.
        </p>

        <p>
          “Speaking of which…,” Mom said, looking at Mirai nestled in her
          father’s arms.
        </p>

        <p>
          “What?”
        </p>

        <p>
          “Mirai doesn’t cry anymore when you hold her.”
        </p>

        <p>
          “Really?”
        </p>

        <p>
          “She looks like she feels secure. I think you’ve gotten better at holding
        babies!”
        </p>

        <p>
          Dad gazed at Mirai’s face, then shook his head as if he’d thought better of
        accepting the compliment.
        </p>

        <p>
          “Hey, hey, I’m not the one who matters here. Kun’s the star right now!” he
        boasted with a grin.
        </p>

        <p>
          “Ha-ha-ha. All right, all right.” Mom conceded the point with a wry
        smile. If her husband was more absorbed in Kun’s big step forward than his
        own little one, she would let him be.
        </p>

        <p>
          “Look, it’s Daddy,” Kun commented over his shoulder.
        “Hmm? Where?” Mom asked, peering at the album. Kun was pointing at
        one of the older photographs.
        </p>

        <p>
          “This one.”
        </p>

        <p>
          “Oh, no, that’s not your dad. That’s your great-granddad.”
        </p>

        <p>
          “No, it’s Daddy.”
        </p>

        <p>
          “No, it’s your great-granddad. The one who died last year.”
        </p>

        <p>
          “Great-Granddad?”
        </p>

        <p>
          The picture showed goggles, a motorcycle, a leather jacket, and a
        workshop in the forest, along with the young man Kun had called Daddy. He
        had seen everything in the picture with his own eyes.
        </p>

        <p>
          “Great-Granddad made engines for fighter planes during the war. After
        that, he was drafted into a corps of kamikaze boat drivers, but luckily, he
        survived and started developing motorcycles with that company…”
        </p>

        <p>
          “…”
        </p>

        <p>
          Mom’s voice faded away as Kun stared at the photograph. The young man
        was looking back at him as if silently telling him something.
        </p>

        <p>“…”</p>

        <p>
          Finally, he nodded in acknowledgment.
        </p>

        <p>
          “…Really?” Kun smiled a little. “Thanks, Great-Granddad.”
        He thought he saw the young man in the picture smile back.
        </p>
      </ion-text>
    </ion-col>
  </ion-grid>
</ion-content>
