<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="onClickedShakeMe()" expand="full" size="large" color="medium">give it a shake</ion-button>
      </ion-col>
      <ion-col size="6" *ngFor="let contact of contactLists; index as i; trackBy:trackContacts">
        <ion-card>
          <ion-img [src]="contact.avatar"></ion-img>
          <ion-card-title class="ion-margin-start ion-margin-top">
            <ion-label>{{ contact.first_name }} {{ contact.last_name }}</ion-label>
            <ion-text color="secondary">
              <h6>{{ contact.email }}</h6>
            </ion-text>
          </ion-card-title>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum velit saepe accusamus voluptatum a deleniti atque reiciendis iste eveniet consequatur.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
